@charset "utf-8";
.main {
	margin: 0px;
	height: 100%;
	width: 100%;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.main #bone #content #form1 #ok {
	border: 0px solid /*#04BE04*/;
}
.button{

	border: 0px solid /*#04BE04*/ !important;
	background:#000;
padding:6px;


}

#bone {
	background-color: #ffffff;
	width: 780px;
	clear: both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border: 0px solid /*#00CC00*/;
	padding: 15px;
}
.main #bone #content {
	padding: 10px;
	text-align: left;
}
.main #bone #head {
	padding: 10px;
}
.main #bone #footer {
	padding: 10px;
}

#content input {
	font-family: "Courier New", Courier, monospace;
	color: #000000;
	background-color: #000000;
	border-bottom-width: 0px;
/*	border-bottom-style: solid;
	border-bottom-color: #04BE04;*/
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
html {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 100%;
}
.main #bone a {
	color: #000000;
	text-decoration: none;
}
/*	.main #bone a:hover {
	color: #000000;
	text-decoration: none;
background-color: #235F84;*/
}
.main #bone #head li {
	list-style-type: none;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
	color: #33FF00;
}#content input .radio {
	font-family: "Courier New", Courier, monospace;
	color: #00FF00;
	background-color: #000000;
	border-bottom-style: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
.main #bone #content #form1 #emaily {
	visibility: hidden;
}
.main #bone #content #form1 #emailN {
	visibility: hidden;
}
.main #bone #content .titolo {
	font-size: 18px;
	color:#000000;
	font-weight:bold;
}
.provenienze {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.main #bone #footer #logout {
	font-size: 12px;
	font-weight: bold;
	font-variant: small-caps;
	color: #000000;
	text-align: right;
	background-color: #000000;
	float: right;
	border: 1px solid #000000;
	font-family: "Courier New", Courier, monospace;
	margin-top: 6px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding: 0px;
}
.main #bone #footer #logout a {
	display: block;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
}
.main #bone #pulsante {
	visibility: hidden;
	display:none;
}

.Stile1 {
	color: #000000;
	font-weight: bold;
}
#content textarea {

	font-family: "Courier New", Courier, monospace;
	color: #000000;
	background-color: #000000;
	border-bottom-width: 0px;
/*	border-bottom-style: solid;
	border-bottom-color: #04BE04;*/
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
.righino_form {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #00CC00;
}
