---
layout: base.html
subtitle: Come recuperare i software usati al campo
---

<div id="head">
    <a href="{{rootPath}}index.html">
        <img src="{{rootPath}}img/starwars.png" width="760" height="300" border="0" />
    </a>
</div>
<div id="content">
    
<p><span class="titolo">Programmi:</span></p>

<p>Come Staff non crediamo sia utile inserire copie statiche di software reperibile online dentro questa USB.</p>

<p>Abbiamo inserito l'elenco dei software utilizzati al campo (e non) all'interno della sezione <a href="http://www.bitprepared.it/software/" alt="software">software</a> del sito bitprepared.it, cercheremo di tenere l'elenco sempre aggiornato.</p>

<p>Vi ricordiamo che il software prodotto dalla nostra Staff sar&agrave; sempre rilasciato come Software Libero e che anche per il software di terze parti elencato cerchiamo di usare solo Software Libero.</p>

</div>
<div id="footer">
    <img src="{{rootPath}}img/footer.png" width="760" height="46"></img>
</div>