body, img, p, h1, h2, h3, h4, h5, h6, ul, ol {
    border: medium none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    /* background-color: #42AC88; */
    background-color: white;
    /*background-image: url("/css/sfondoStatico.gif");*/
    /* background-position: center top; */
    /* background-repeat: no-repeat; */
    

    background-image: url("/img/sfondo.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    font-family: Arial,Verdana,Sans-Serif;
    font-size: 0.8em;
}
a {
    color: white;
}
.color-yellow {
    background: none repeat scroll 0 0 #F2BC00;
}
.color-red {
    background: none repeat scroll 0 0 #DD0000;
}
.color-blue {
    background: none repeat scroll 0 0 #148EA4;
}
.color-white {
    background: none repeat scroll 0 0 #DFDFDF;
}
.color-orange {
    background: none repeat scroll 0 0 #F66E00;
}
.color-green {
    background: none repeat scroll 0 0 #8DC100;
}
.color-yellow h3, .color-white h3, .color-green h3 {
    color: #000000;
}
.color-red h3, .color-blue h3, .color-orange h3 {
    color: #FFFFFF;
}
#head {
    /*background: url("/css/head-bg.png") repeat-x scroll 0 0 #000000;*/
    height: 100px;
}
#head h1 {
    /* color: #FFFFFF; */
    color: #000000;
    line-height: 100px;
    text-align: center;
}
#navigation {
    text-align: right;
}
#columns .column {
    float: left;
    height: auto !important;
    min-height: 400px;
    width: 33.3%;
    min-width: 400px;
}
#columns .column-small {
    float: left;
    height: auto !important;
    min-height: 400px;
    width: 20%;
    min-width: 200px;
}
#columns #column1 {
    /* background: url("/css/column-bg-left.png") no-repeat scroll right top transparent; */
}
#columns #column3 {
    /* background: url("/css/column-bg-right.png") no-repeat scroll left top transparent; */
}
#columns #column1 .widget {
    margin: 30px 35px 0 25px;
}
#columns #column3 .widget {
    margin: 30px 25px 0 35px;
}
#columns .widget {
    border-radius: 4px 4px 4px 4px;
    margin: 30px 20px 0;
    padding: 2px;
}
#columns .widget .widget-head {
    color: #000000;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 100%;
}
#columns .widget .widget-head h3 {
    float: left;
    padding: 0 5px;
}
#columns .widget .widget-content {
    background: url("/img/widget-content-bg.png") repeat-x scroll 0 0 #333333;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #DDDDDD;
    line-height: 1.2em;
    overflow: hidden;
    padding: 0 5px;
}
#columns .widget .widget-content p {
    border-bottom: 1px solid #666666;
    padding: 0.8em 0;
}
#columns .widget .widget-content img {
    /* border: 1px solid #FFFFFF; */
    float: right;
    margin: 10px;
}
#columns .widget .widget-content pre {
    color: #EEEEEE;
    font-size: 12px;
    padding: 0.5em 5px;
}
#columns .widget .widget-content ul {
    list-style: disc outside none;
    padding: 5px 0 5px 20px;
}
#columns .widget .widget-content ul li {
    padding: 3px 0;
}
#columns .widget .widget-content ul.images {
    height: 1%;
    list-style: none outside none;
    padding: 7px 0 0;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}



/** MENUBAR  */

#board {
    margin: 0 auto;
}

.module {
    float: left;
    text-align: center;
    margin: 10px;
}

#bargraph>div {
}

.bar {
    position: relative;
    height: auto;
    float: left;
    padding: 0 12px;
}
.bars {
    border-bottom: 1px solid #999;
    float: left;
}
.bar-title {
    margin-top: 12px;
    float: left;
}

.bar .header {
    top: -8px;
    position:relative;
    font-size: 36px;
    font-weight: thin;
    letter-spacing: -0.08em;
}
.bar .total {
    color: #fff;
    font-weight: bold;
}
.bar .remaining {
    color: #6cdaff;
}

.bar .view {
    border-width: 3px;
    border-style: solid;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom: 0px;
}

#bar_1 {
    background: #FFDF00;
    border-color: #FFDF00;
    border-left-color: #f3f35b;
    border-top-color: #f3f35B;
    border-right-color: #d5a110;
}

#bar_2 {
    background: #0000FF;
    border-color: #0000FF;
    border-left-color: #2151E3;
    border-top-color: #2151E3;
    border-right-color: #0000AD;
}

#bar_3 {
    background: #FD3B15;
    border-color: #FD3B15;
    border-left-color: #ff4c21;
    border-top-color: #ff4c21;
    border-right-color: #cd2e14;
}

#bar_4 {
    background: #FFA500;
    border-color: #FFA500;
    border-left-color: #F2B125;
    border-top-color: #F2B125;
    border-right-color: #FF8C00;
}

#bar_5 {
    background: #107CF8;
    border-color: #107CF8;
/*  border-left-color: #3368d7; */
    border-left-color: #1288ff;
    border-top-color: #1288ff;
    border-right-color: #3368d7;
}

#bar_6 {
    background: #d8d309;
    border-color: #d8d309;
/*  border-left-color: #beba06; */
    border-left-color: #ede80a;
    border-top-color: #ede80a;
    border-right-color: #beba06;
}


.gaibrush_logo {
    text-align: center;
}

