
header[role="title"] {

	.logo {

		float: left;
		min-width: 380px;
		position: relative;

	}

	// Nesting example using parent selector
	.menu {
		
		//background-color: $white;
		//padding: 10px;
		//max-width: 738px;
		//list-style-position: inside;

		position: relative;

		text-align: left;
		list-style-image: none;
		line-height: 25px;
		min-width: 200px;
		margin-left:5px;
		margin-right:5px;

		float: left;

		ol,ul {
			vertical-align: middle;
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			li {
				background-color: transparent;
				float: left;
				padding: 5px;
				margin-top: 10px;
				margin-bottom: 10px;
				
				min-width: 30px;
				border: 1px $verde_melee solid;
				a {
					padding: 10px;
				}
			}
		}
	}

}

