
// Nesting example using parent selector
.menu {
	background-color: $white;
	text-align: left;
	list-style-position: inside;
	list-style-image: none;
	line-height: 25px;
	padding: 10px;
	max-width: 738px;
	min-width: 300px;
	margin-left:14px;
	margin-right:14px;
	ol,ul {
		vertical-align: middle;
		list-style-type: none;
		background-color: $white;
		li {
			margin: 2px;
			border: 1px $verde_melee solid;
			a {
				padding: 10px;
			}
		}
	}
}