// Immagine Coordinata Agesci (colori)
$giallo_agesci: rgb(249,214,22);
$verde_agesci: rgb(61,142,51);
$rosso_agesci: rgb(80,15,17);
$violetto_agesci: rgb(122,30,153);

$azzurro_agesci: rgb(102,137,204);
$giallo_oro_agesci: rgb(255,204,30);
$blu_agesci: rgb(98,37,153);

// Colori neutri
$black: #000; // Black
$white: #FFF; // White

// Colori Melee Island
$verde_melee: #42AC88;

// Fonts
$blockquote: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$bitfont: "Courier New", Courier, monospace;

// Mixin variables
$defined-bs-type: border-box !default;







/*
$color1: #FF0000; // Red
$color2: #FFBF00; // Orange
$color3: #FFFF00; // Yellow
$color4: #7FFF00; // Green
$color5: #007FFF; // Light Blue
$color6: #00FFFF; // Cyan
$color7: #0000FF; // Blue
$color8: #7F00FF; // Purple
$color9: #FF00FF; // Magenta
*/